development:
  clients:
    default:
      database: hive_signal_development
      hosts:
        - localhost:27017

test:
  clients:
    default:
      database: hive_signal_test
      hosts:
        - localhost:27017
      options:
        read:
          mode: :primary
        max_pool_size: 1

production:
  clients:
    default:
      uri: <%= ENV['MONGODB_URI'] || 'mongodb://localhost:27017/hive_signal_production' %>

