.message-form-card {
  width: 100%;
  height: fit-content;

  mat-card-header {
    padding-bottom: 20px;

    mat-card-title {
      font-size: 20px;
      font-weight: 500;
    }
  }

  .message-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .full-width {
      width: 100%;
    }

    .submit-button {
      width: 100%;
      height: 48px;
      font-size: 16px;
    }
  }
}

@media (min-width: 600px) {
  .message-form-card {
    .message-form {
      .submit-button {
        align-self: flex-end;
        width: auto;
        min-width: 150px;
      }
    }
  }
}
